
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/migrations/
###< symfony/framework-bundle ###

.env

/src/DataFixtures/

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
/public/tinymce/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

src/uploads/user_picture/
src/uploads/posts_picture/
###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
