{% extends 'base.html.twig' %}

{% block title %}Edit ForumPost
{% endblock %}

{% block body %}
	<h1>Edit Post</h1>

	{% if (app.user.userIdentifier == forum_post.Pseudo)  %}
		{{ include('forum_post/_form_edit.html.twig', {'button_label': 'Update'}) }}

		<a href="{{ path('app_forum_post_index') }}">back to list</a>

		{{ include('forum_post/_delete_form.html.twig') }}
	{% else %}
		<h1>
			You're not the right user
		</h1>
		<a href="{{ path('app_forum_post_index') }}">Go back</a>

	{% endif %}
{% endblock %}
