* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


#root {
  --main-bg-color: #f76c6c;
  --main-background-color:whitesmoke;
  --main-text-white-color: #fff;
  --main-background-lightgray: rgb(241, 241, 241);
}

body {
  background-color: var(--main-background-color);
}

.postsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}

.testContainer{
  height: 40%;
  position: absolute;
  top: 30%;
  z-index: 0
}

span{
  font-weight: bold;
}

.instantMessaging{
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 0;
  padding-right: 3%;
}

#conv{
  height: 80%;
  width: 20%;
  display: flex;
  flex-direction: column;
  position:fixed;
  top: 10%;
right: 0;
  padding-right: 2%;
  overflow-x: scroll;
}

.alert > *{
  color: black;
}

p {
  word-break: break-all;
}
#conv > * {
  color: black;
}